*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata/
.recommenders/
RemoteSystemsTempFiles/
BruxelasBackend/.settings/
BruxelasBackend/.mvn/
BruxelasBackend/target/
BruxelasBackend/.classpath
BruxelasBackend/.project
BruxelasBackend/mvnw
BruxelasBackend/mvnw.cmd
.DS_Store
BruxelasFrontend/.DS_Store
BruxelasBackend/.DS_Store
BruxelasFrontend/node_modules
/target/
.classpath
.project
.settings/
.openshift/
#src/main/webapp/node_modules/
