<div class="container padding-top-dif-menu-5" data-ng-controller="TalkerCRUDController as tcc">
	<div class="panel panel-warning">
		<div class="panel-body">
			
			<div class="row center-object">
			
				<div class="col-md-2 text-center">
					<img alt="" src="src/img/default-avatar.jpg" class="img-responsive img-circle">
				</div>
				
				<div class="col-md-10">
					<div class="panel panel-warning">
						<div class="panel-body">
	
							<div class="row">
								<div class="col-md-10">
									<label>Name: </label>
									<input ng-model="tcc.talker.name" class="form-control input-sm" placeholder="Fulano de Tal"/>
								</div>
								<div class="col-md-2">
									<label>Birth Date: </label>
<!-- 									<span class="input-group"> -->
<!-- 										<input data-ng-model="tcc.talker.birthDate" maxlength="10" size="10" class="form-control input-sm" -->
<!-- 											   data-uib-datepicker-popup="dd/MM/yyyy" data-datepicker-options="tcc.dateOptions"  -->
<!-- 									 		   data-close-text="Close" class="form-control input-xs-tdv text-center datepicker" data-is-open="tcc.openedBirthDate" readonly="readonly"/> -->
<!-- 									</span> -->
<!-- 								 	<span class="input-group-btn">	 -->
<!-- 		            					<button type="button" class="btn btn-success btn-xs"  data-ng-click="tcc.open()"> -->
<!-- 		            						<i class="glyphicon glyphicon-calendar"></i> -->
<!-- 		            					</button> -->
<!-- 	          				    	</span>	 -->
								</div>
							</div>
							
							<br>
							
							<div class="row">
								<div class="col-md-4">
									<label>Born in: </label> 
									<select class="form-control input-sm" data-ng-model="tcc.talker.bornIn.id">
										<option value=""></option> 
										<option data-ng-repeat="c in tcc.countriesBorn" value="{{c.id}}">{{ c.name }}</option>
									</select>
								</div>  
								<div class="col-md-4"> 
									<label>Living in: </label>
									<select class="form-control input-sm" data-ng-model="tcc.talker.livingIn.id">
										<option value=""></option>
										<option data-ng-repeat="c in tcc.countriesLiving" value="{{c.id}}">{{ c.name }}</option>
									</select>
								</div>
								<div class="col-md-4">
									<label>Native language: </label>
									<select class="form-control input-sm" data-ng-model="tcc.talker.nativeLanguage.id">
										<option value=""></option>
										<option data-ng-repeat="l in tcc.languages" value="{{l.id}}">{{ l.name }}</option>
									</select>
								</div>
							</div>
							<div class="row">
								<br/>
								<div class="col-md-12 text-right">
									<button class="btn btn-success bg-dark-green-template" ng-click="tcc.save(tcc.talker)">Save</button>
								</div>
							</div>
	
						</div><!-- <div class="panel-body"> -->
					</div><!-- <div class="panel panel-warning"> -->
				</div><!-- <div class="col-md-10"> -->
				
			</div><!-- <div class="row"> -->

			<div class="row" data-ng-show="tcc.talker.id">
				<div class="col-md-12">
					<div class="panel panel-warning">
						<div class="panel-body">
							<label class="control-label col-md-3 text-center center-object padding-left-right-5">Languages you speak or learn: </label>

							<div class="col-md-8">
								<div data-ng-repeat="l in tcc.languagesSpeak" class="col-md-12 center-object padding-left-right-5">
									<label class="col-md-2 padding-left-right-5">Languange: </label>
									<div class="col-md-3 padding-left-right-5">
										<select class="form-control input-xs" data-ng-model="tcc.languageSpeak.language" 
												data-ng-options="l.name for l in tcc.languages">
										</select>
									</div>
									<label class="col-md-1 padding-left-right-5" 
											data-ng-show="tcc.languageSpeak.learning == true" >Level: </label>
									<div class="col-md-3 padding-left-right-5" data-ng-model="l.level" 
										 data-ng-show="tcc.languageSpeak.learning == true" >
										<select class="form-control input-xs">
											<option>Beginner</option>
										</select>
									</div>
									<div data-ng-show="tcc.languageSpeak.learning == false || tcc.languageSpeak.learning == undefined" 
										 class="col-md-4 padding-left-right-5"></div>
									<label class="col-md-2 padding-left-right-5"> 
										<input type="checkbox" data-ng-model="tcc.languageSpeak.learning"/> Learning 
									</label>
									<div class="col-md-1">
										<button data-ng-disabled="$index == 0" data-ng-click="tcc.popLanguages($index)" 
												class="btn btn-danger btn-xs">
											<i class="fa fa-remove"></i> 
										</button>
									</div>
									<br>
									<br>
								</div>
							</div>

							<div class="col-md-1 padding-left-right-5">
								<button class="btn btn-success bg-dark-green-template" data-ng-click="tcc.addLanguage(tcc.languageSpeak)"
										data-ng-disabled="tcc.languagesSpeak.length >= 7">
									<i class="fa fa-save"></i>
								</button>
							</div>
						</div>
					</div>
				</div>						
			</div>			
			
		</div>
	</div>
</div>