:root {
	--main-color: #5C953D /*#4ac6be*/;
	--main-color-border: #C0C5CE;
	--main-color-hover: #0C5521;
}

.text-yellow {
  color: #FFDD00;
}

.bg-dark-green-template{
	background-color: #5C953D !important;
	border-color: #5C953D !important;
}

/*
Sugestões de Cores:

	Branco: #F6F6F6

  	Menu: #639534

  	Monocromático
  	Claro:  #B9E192
	centro: #639534
	médio:  #89A76C
	Escuro: #416222

	Compund
	Claro: #BCFBC7

	Analogous
	Vivo: #30A244
*/