body{
	background-color: #e9e9e9;	
}

.footer {
  padding: 5px 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

.footer > p {
	margin-bottom: 0px;
}

.badge-notifications{
  display: inline-block;
  min-width: 10px;
  padding: 3px 4px;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  /*text-align: center;*/
  white-space: nowrap;
  vertical-align: baseline;
  /*background-color: #777;*/
  border-radius: 4px;
	background-color: #5C953D;
	position: absolute;
	top: 7px;
	font-weight: bold;
	left: 22px;
}
.badge-notifications:empty {
  display: none;
}

.navbar-white-green{
	/*background-color: #5C953D;*/
	/*background-color: #f5f5f5;*/
	color: black;
	background-color: white;
	border-bottom-color: #5C953D;
	border-top-color: #5C953D;
}

@media (min-width: 992px){
	.menu-sidebar-right{
		height: -o-calc(100% - 95px); /* opera */
		height: -webkit-calc(100% - 95px); /* google, safari */
		height: -moz-calc(100% - 95px); /* firefox */
		position: fixed;
		right: 5px;
		top: 55px;
		bottom: 35px;
		width: 200px;
	}
	
	.talkers{
		top: 55px;
		right: 215px;
		left: 5px;
		position: fixed;
		z-index: 2;
	}
	
	.talkers-container{
		margin-right: 215px; 
		margin-left: 5px
	}

	.body-dash {
		padding-top: 190px;
	}
	
	.visible-more-than-sm{
		display: block !important;
	}
	
	.visible-less-than-sm{
		display: none !important;
	}
}

@media (max-width: 992px){
	.menu-sidebar-right-xs{
		display:  none !important;
	}
	.body-dash {
		padding-top: 55px;
	}

	.visible-more-than-sm{
		display: none !important;
	}
	
	.visible-less-than-sm{
		display: block !important;
	}
}


.bg-light-green-transparent{
	background-color: rgba(137, 167, 108, 0.46) !important;
}

.bg-light-greenblue-transparent{
	background-color: #76c0c6 !important;
	color: white !important; 
	font-family: monospace;
}

.bg-footer-card{
	background-color: #f3f3f3;
}

.bg-body-panel-default{
	background-color: #F6F6F6;
}

.talkers-image-circle{
	border-radius: 50px;
	height: 100px;
}

.center-object{
  height: 100%;
  min-height: 100%;
  /* habilita o flex nos filhos diretos */
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  /* centraliza na vertical */
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;

  /* centraliza na horizontal */
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.padding-top-dif-menu-5{
	padding-top: 55px;
}

.padding-left-right-5{
	padding-left: 5px;
	padding-right: 15px;
}